@charset "utf-8";
/*全局提示框*/
.layui-layer-demo {width:300px;height:200px;text-align:center;}
/*  单个加长提示框-加长*/
.layui-layer-single {width:400px;height:200px;text-align:center;}
/*错误提示框红色*/
.inpust-text-red { border: 1px solid #f02b34 !important;} 
/*  按钮高亮*/
.con-inf-yes {  background: #f02b34 !important;}
/*低亮*/
 .btn_bakg_colo {background: #ffa3a7 !important;}
/*文本框蓝边*/
 .inpust-text {border: 2px solid #578dcc!important;}
 /*错误提示框红色*/
.inpust-text-red {border: 1px solid #f02b34;}
 /*提示宽度*/
.div-m-l-125 {margin-left: 125px; color: #f02b34;}
/* CSS Document */
* {margin: 0;padding: 0; }
a {text-decoration: none;}
a:hover{text-decoration: none;}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, input, p, blockquote, a, span, input,tr,td{font-family: "微软雅黑","Microsoft YaHei";font-weight: normal;margin: 0;padding: 0; }
table {border-collapse: collapse;border-spacing: 0;}
user agent stylesheettable {display: table;border-collapse: separate;border-spacing: 2px;border-color: grey;}
ul li{margin:0px;padding:0px;list-style-type: none;}
input,button,select,textarea{ outline: none;}
input, select{ vertical-align:middle;}
h1, h2, h3, h4, h5, h6 { font-size: 100%; }
img {border:0}
textarea{resize: none; vertical-align:top;}
textarea{ resize: none;}
.dis-bl{ display: block!important;}
.clearfix {clear: both;display: block;overflow: hidden;}
.f-b {font-weight: bold;}
.cur-hand:hover {cursor:pointer;}
.ellipsis-text{overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.m-m{ margin: 0 auto;}
.text-right{ text-align: right}
/*字体*/
.f-yahei{font-family: "微软雅黑","Microsoft YaHei";}
.f-ar{font-family: "Arial";}
/*字号*/
.f-12 {font-size: 12px;}
.f-14 {font-size: 14px;}
.f-16 {font-size: 16px;}
.f-18 {font-size: 18px;}
.f-20 {font-size: 20px;}
.f-22 {font-size: 22px;}
.f-24 {font-size: 24px;}
.f-26 {font-size: 26px;}
.f-30 {font-size: 30px;}
.f-34 {font-size: 34px;}
.f-36 {font-size: 36px;}
.f-38 {font-size: 38px;}
.f-40 {font-size: 40px;}
.f-42 {font-size: 42px;}
.f-44{font-size: 44px;}
.f-48 {font-size: 48px;}
/*标题字号*/
/* 加粗*/
.f-w600{
    font-weight:600;
}

/* 鼠标手指*/
.cursor {
    cursor: pointer;
}
/* 加粗*/


h2 {font-size: 30px;}
h3 {font-size: 24px;}
/*相对-绝对定位*/
.pos-re{ position: relative;}
.pos-ab{ position: absolute;}
.pos-fix{ position: fixed;}
/*文字对齐*/
.t-r{ text-align: right;}
.t-l {text-align: left;}
.t-c{text-align: center;}
/*浮动*/
.f-l {float: left;}
.f-r{float: right;}
/*文字背景*/
.color-hui {background: #e4e4e4;}
.color-red {background: #e31822;}
.color-black{background: #e4e4e4;}
/*文字颜色*/
.a-red:hover {
    color:red;
}

.c-000 {
 color:#000
}
.c-org{ color: #F13920;}
.c-red { color: #e31822 !important;}
.c-f02{ color: #f02b34;}
.c-f12{ color: #f12b34;}
.c-ff4{ color: #ff4546;}
.c-333 {color: #333;}
.c-444 {color: #444;}
.c-494 {color: #494949;}
.c-666 {color: #666;}
.c-777 {color: #777;}
.c-999 {color: #999;}
.c-ff5 {color: #ff580f;}
.c-white {color: #fff;}
.c-fff {color: #fff;}
.c-ffb {color: #ffb025;}
.c-9bd{color: #9BD124;}
.c-7ed{ color: #7ED321;}
.c-72a{ color: #72ae5d;}
.c-7d7{ color: #7d7d7d;}
.c-5b9{ color: #5b9fE1;}
.c-5b9:hover{ color: #4A90E2;}
.c-4a9{ color: #4A90E2;}
.c-008{ color: #0088cc;}
.c-baba{color: #bbbaba;}
.c-f86{ color: #f86e35;}
.c-808{ color: #808080;}
.c-cc2{ color: #cc2a1e;}
.c-6c6{ color: #6c6c6c;}
.c-db9{ color: #db9223;}
.c-fe4{ color: #fe4c55;}
.c-e31{ color: #e31822;}
.c-c5c{ color: #c5c5c5;}
.c-FF4730 {
 color:#FF4730
}
.c-ffa421 {
 color:#ffa421;
}
.c-ffa523 {
    color: #ffa523;
}
.c-ff9600 {
      color: #FF9600;
}
.c-a4a4a4 {
 color:#A4A4A4;
}

.c-AAAAAA {
 color:#aaa;
}
/*背景色*/
.bg-f8f{background: #f8f8f8;}
.bg-9bd{background: #9BD124;}
.bg-ccc{ background: #CCC;}
.bg-f02{ background: #F02B34;}
.bg-f7f{ background: #F7F5F6;}
.bg-f9f{ background: #f9f9f9;}
.bg-f4f{ background: #F4F4F4;}
.bg-ffa{ background: #ffa3a7;}
.bg-e6e{ background: #e6e6e6;}
.bg-ffb{ background: #ffb025;}
.bg-fafafa {
 background: #fafafa;
}
/*margin外边距*/
.m-t-2{margin-top: 2px;}
.m-t-5 {margin-top: 5px;}
.m-r-5 {margin-right: 5px;}
.m-b-5 {margin-bottom: 5px;}
.m-l-5{margin-left: 5px;}
.m-t-10 {margin-top: 10px;}
.m-r-10 {margin-right: 10px;}
.m-b-10 {margin-bottom: 10px;}
.m-l-10 {margin-left: 10px;}
.m-t-15 {margin-top: 15px;}
.m-r-15 {margin-right: 15px;}
.m-b-15 {margin-bottom: 15px;}
.m-l-15 {margin-left: 15px;}
.m-t-20 {margin-top: 20px;}
.m-r-20 {margin-right: 20px;}
.m-b-20 {margin-bottom: 20px;}
.m-l-20 {margin-left: 20px;}
.m-t-25 {margin-top: 25px;}
.m-r-25 {margin-right: 25px;}
.m-b-25 {margin-bottom: 25px;}
.m-l-25 {margin-left: 25px;}
.m-t-30 {margin-top: 30px;}
.m-l-30 {margin-left: 30px;}
.m-r-30 {margin-right: 30px;}
.m-b-30 {margin-bottom: 30px;}
.m-t-35 {margin-top: 35px;}
.m-r-35 {margin-right: 35px;}
.m-b-35 {margin-bottom: 35px;}
.m-l-35 {margin-left: 35px;}
.m-t-40 {margin-top: 40px;}
.m-r-40 {margin-right: 40px;}
.m-b-40 {margin-bottom: 40px;}
.m-l-40 {margin-left: 40px;}
.m-t-45 {margin-top: 45px;}
.m-r-45 {margin-right: 45px;}
.m-b-45 {margin-bottom: 45px;}
.m-l-45 {margin-left: 45px;}
.m-t-50 {margin-top: 50px;}
.m-r-50 {margin-right: 50px;}
.m-b-50 {margin-bottom: 50px;}
.m-l-50 {margin-left: 50px;}
.m-t-55 {margin-top: 55px;}
.m-r-55 {margin-right: 55px;}
.m-b-55 {margin-bottom: 55px;}
.m-l-55 {margin-left: 55px;}
.m-t-60 {margin-top: 60px;}
.m-r-60 {margin-right: 60px;}
.m-b-60 {margin-bottom: 60px;}
.m-l-60 {margin-left: 60px;}

.m-t-65 {margin-top: 65px;}
.m-r-65 {margin-right: 65px;}
.m-b-65 {margin-bottom: 65px;}
.m-l-65 {margin-left: 65px;}

.m-t-70 {margin-top: 70px;}
.m-r-70 {margin-right: 70px;}
.m-b-70 {margin-bottom: 70px;}
.m-l-70 {margin-left: 70px;}

.m-t-75 {margin-top: 75px;}
.m-r-75 {margin-right: 75px;}
.m-b-75 {margin-bottom: 75px;}
.m-l-75 {margin-left: 75px;}

.m-t-80 {margin-top: 80px;}
.m-r-80 {margin-right: 80px;}
.m-b-80 {margin-bottom: 80px;}
.m-l-80 {margin-left: 80px;}

.m-t-85 {margin-top: 85px;}
.m-r-85 {margin-right: 85px;}
.m-b-85 {margin-bottom: 85px;}
.m-l-85 {margin-left: 85px;}

.m-t-90 {margin-top: 90px;}
.m-r-90 {margin-right: 90px;}
.m-b-90 {margin-bottom: 90px;}
.m-l-90 {margin-left: 90px;}

.m-t-95 {margin-top: 95px;}
.m-r-95 {margin-right: 95px;}
.m-b-95 {margin-bottom: 95px;}
.m-l-95 {margin-left: 95px;}

.m-t-100 {margin-top: 100px;}
.m-r-100 {margin-right: 100px;}
.m-b-100 {margin-bottom: 100px;}
.m-l-100 {margin-left: 100px;}

.m-t-105 {margin-top: 105px;}
.m-r-105 {margin-right: 105px;}
.m-b-105 {margin-bottom: 105px;}
.m-l-105 {margin-left: 105px;}

.m-t-110 {margin-top: 110px;}
.m-r-110 {margin-right: 110px;}
.m-b-110 {margin-bottom: 110px;}
.m-l-110 {margin-left: 110px;}

.m-t-115 {margin-top: 115px;}
.m-r-115 {margin-right: 115px;}
.m-b-115 {margin-bottom: 115px;}
.m-l-115 {margin-left: 115px;}

.m-t-120 {margin-top: 120px;}
.m-r-120 {margin-right: 120px;}
.m-b-120 {margin-bottom: 120px;}
.m-l-120 {margin-left: 120px;}

.m-t-125 {margin-top: 125px;}
.m-r-125 {margin-right: 125px;}
.m-b-125 {margin-bottom: 125px;}
.m-l-125 {margin-left: 125px;}
/*padding内边距*/
.p-t-5 {padding-top: 5px;}
.p-r-5 {padding-right: 5px;}
.p-b-5 {padding-bottom: 5px;}
.p-l-5{padding-left: 5px;}
.p-t-10 {padding-top: 10px;}
.p-r-10 {padding-bottom: 10px;}
.p-b-10 {padding-bottom: 10px;}
.p-l-10 {padding-left: 10px;}
.p-t-15 {padding-top: 15px;}
.p-r-15 {padding-right: 15px;}
.p-b-15 {padding-bottom: 15px;}
.p-l-15 {padding-left: 15px;}
.p-t-20 {padding-top: 20px;}
.p-r-20 {padding-right: 20px;}
.p-b-20 {padding-bottom: 20px;}
.p-l-20 {padding-left: 20px;}
.p-t-25 {padding-top: 25px;}
.p-r-25 {padding-right: 25px;}
.p-b-25 {padding-bottom: 25px;}
.p-l-25 {padding-left: 25px;}
.p-t-30 {padding-top: 30px;}
.p-r-30 {padding-right: 30px;}
.p-b-30 {padding-bottom: 30px;}
.p-l-30 {padding-left: 30px;}
.p-t-35 {padding-top: 35px;}
.p-r-35 {padding-right: 35px;}
.p-b-35 {padding-bottom: 35px;}
.p-l-35 {padding-left: 35px;}
.p-t-40 {padding-top: 40px;}
.p-r-40 {padding-right: 40px;}
.p-b-40 {padding-bottom: 40px;}
.p-l-40 {padding-left: 40px;}
.p-t-45 {padding-top: 45px;}
.p-r-45 {padding-right: 45px;}
.p-b-45 {padding-bottom: 45px;}
.p-l-45 {padding-left: 45px;}
.p-t-50 {padding-top: 50px;}
.p-r-50 {padding-right: 50px;}
.p-b-50 {padding-bottom: 50px;}
.p-l-50 {padding-left: 50px;}
.p-t-55 {padding-top: 55px;}
.p-r-55 {padding-right: 55px;}
.p-b-55{padding-bottom: 55px;}
.p-l-55 {padding-left: 55px;}
.p-t-55 {padding-top: 55px;}
.p-r-55 {padding-right: 55px;}
.p-b-55 {padding-bottom: 55px;}
.p-l-55 {padding-left: 55px;}
.p-t-60 {padding-top: 60px;}
.p-r-60 {padding-right: 60px;}
.p-b-60{padding-bottom: 60px;}
.p-l-60 {padding-left: 60px;}
.p-t-60 {padding-top: 60px;}
.p-r-60 {padding-right: 60px;}
.p-b-60 {padding-bottom: 60px;}
.p-l-60 {padding-left: 60px;}
/*高与行高*/
.h-au { height:auto;}
.h-24{ height: 24px;}
.h-li-24{height: 24px;}
.h-40{ height: 40px;}
.h-45{ height: 45px;}
.li-he-40{line-height: 40px; }
.h-li-35{height: 35px;line-height: 35px;}
.h-li-38{height: 38px;line-height: 38px;}
.h-li-44{height: 44px;line-height: 44px;}
.h-li-40{height: 40px;line-height: 40px;}
.h-li-45{height: 45px;line-height: 45px;}
.h-li-48{height: 48px;line-height: 48px;}
.h-li-50{height: 50px;line-height: 50px;}
.h-55{ height: 55px;}
.h-li-55{ height: 55px;line-height: 55px;}
.h-li-65{height: 65px;line-height: 65px;}

.inline-block {
    display: inline-block;
}
    .area {
            position: relative;
            min-width: 1200px;
        }

    .onError {
    color: #f02b34;
}


.center {
 text-align:center;
}
/**/
.w-1210 {width: 1210px;margin: 0 auto;}
.min-w-1210{ min-width: 1210px;}
.w-1200 {width: 1200px;margin: 0 auto;}
.min-w-1200{ min-width: 1200px;}
/*公共样式start*/
.w-100b{ width: 100%;}
.w-80{ width: 80px;}
.w-100{ width: 100px;}
.w-120{ width: 120px;}
.w-140{ width: 140px;}
.w-198 {width: 198px;}
.w-200 {width: 200px;}
.w-250 {width: 250px;}
.w-290{ width: 290px;}
.w-360{ width: 360px;}
.w-780 {width: 780px;}
.w-778 {width: 778px;}
.w-982 {
 width: 982px;
 min-width:982px;
}
.w-100 {width: 100px;}
.w-1000{width: 1000px;margin: 0 auto;}
.bor-bbb-1{border: 1px solid #bbb;}
.bor-dcd-1{border: 1px solid #DCDCDC;}
.bor-dbd-1{border: 1px solid #dbdbdb;}
.bor-ded-1{border: 1px solid #DEDEDE;}
.bor-ccc-1{border: 1px solid #ccc;}
.bor-rad-2 {-moz-border-radius: 2px;-webkit-border-radius: 2px;border-radius: 2px;} 
.bor-rad-4 {-moz-border-radius: 4px;-webkit-border-radius: 4px;border-radius: 4px;} 
.bor-rad-5 {-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;} 
.bor-rad-6 {-moz-border-radius: 6px;-webkit-border-radius: 6px;border-radius: 6px;} 
.bg-fff{ background: #fff;}  
.bg-f7f{ background: #f7f5f6;}
.message-leg-code{ width: 120px;background: #ffa144;color: #ffffff; }
.acc-l-main table tbody tr th{ background:#fafafa;font-weight: normal;}
.acc-l-main table{text-align: left; width: 100%;border: 0px; }
.tab-tr-65 tr{ height: 65px;}

        .a-hover:hover {
            color: #FF4730 !important;  /*鼠标移上去改变颜色*/
        } 

        .c-00d6ff {
            color: #00D6FF;
        }

        .ovheigt {
            overflow: hidden;
        }

.white-space {
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    /*文字多了加地省略号*/
}
   .c-E4E4E4 {
            color: #E4E4E4;
        }



/*分页公共样式*/

.pagination {width: 640px;height: 28px;padding: 40px 0px;margin: 0 auto;}
.pagination ul li {float: left;margin-left: 5px;line-height: 25px; list-style: none;border: 1px solid #dbdbdb;}
.pagination ul li{ color: #666666;}
/* .pagination ul li:hover{} */
.pag-prevPagerImg:hover,.pag-prevPageImg:hover,.pag-active:hover,.pag-show:hover,.pag-continuedImg:hover,.pag-nextPageImg:hover,.pag-nextPagerImg:hover{ background: #f12b34; }
.pagination ul li:hover a{color: #fff!important;}
/* .pagination ul li.pag-show{ }
 .pag-m-num,.pag-nextPageImg,.pag-prevPageImg{}
 .pag-prevPagerImg,.pag-nextPagerImg{} */
 .pag-continued:hover{ color: #ffffff;}
 .pagination ul li a {text-align: center; text-decoration: none;display: block;  padding: 0px 8px;}
 .pag-active{ background: #f12b34; border: 1px solid #f12b34!important;}
 .pag-continuedImg{ padding: 0px 8px;}
 .pag-continuedImg:hover{color: #666666 !important;}
  .cru-totle-page{border: 0px solid #f12b34!important; line-height: 26px !important;}
.pag-active a span{color: #fff;}
   /*分页公共样式*/

     /*分页公共样式*/
   .accout-pag-new{text-align: center;padding: 20px 0px;}
.accout-pag-new  a{ color: #666;}
 .new-pag-index:hover,.new-pag-prev:hover,.new-pag-next:hover,.new-pag-last:hover{color: #333; }
.new-pag-num,.new-pag-don{ color: #333; } 
/* .new-pag-don:hover{ } */
.new-pag-active{ color: #f02b34!important; }
.new-pag-num:hover{ color: #f02b34 }
 .new-pag-index{ margin-right: 16px;}
 .new-pag-prev{margin-right: 12px;}
 .new-pag-num{ margin-right: 5px;}
 .new-pag-don { margin-right: 12px;}
 .new-pag-next{ margin-right: 16px;}
 .new-pag-bcb{ color: #bcbcbc!important;}
 .new-pag-don{ text-align: center;}
   /*分页公共样式*/






